html {



    min-height: 100%;

    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

/* Allgemeine Schrifteinstellungen */
@import url('https://fonts.googleapis.com/css?family=Bellefair');

html {
    font-family: 'Bellefair', serif;
    font-size: 12pt;
}


/* Header */
header {
    background-color: rgb(235, 235, 235);
    border: 0px solid #a8aeb1;
    border-bottom-width: 2px;

    padding: 0em 1em 0em 1em;
    font-variant: small-caps;

    display: flex;
    justify-content : space-between;
    align-content: center;
    align-items: center;
}

#logo {
    height: 3em;
}

/* Hauptbereich */
main {
    padding: 1em;

}

header {
  background-color: rgb(235, 235, 235);
    border: 0px solid #a8aeb1;
    border-bottom-width: 3px;
    padding: 0em 1em 0em 1em;
    font-variant: small-caps;
    display: flex;
    justify-content : space-between;
    align-content: center;
    align-items: center;
}

.container{
  display: grid;
  grid-template.rows: 200px 200px 200px;
  grid-column: 100%;
  align-content: center;
  grid-template-columns: 33% 22.6% 33%;
  margin-left: 30%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 30%;


}

body > div > button {
  margin-top: 14px;
  margin-left: 24px;

}

main > ul > li {  //anfangsbox
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;

    padding: 1em;
    border: 10px solid rgb(153, 153, 153);
    background: rgb(200, 200, 200);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);

    min-width: 10em;
    min-height: 2em;
    max-width: 20em;

    margin-top: 4%;

    position: relative;
    padding-bottom: 1.5em;
}

main > ul > li > p {
    margin: 0;
}

main > ul > li > .delete {
    position: absolute;
    right: 1em;
    bottom: 1em;

    color: blue !important;
    text-decoration: underline;

    cursor: pointer;
}

main > ul > li > .delete:hover {
    color: rgb(43, 84, 255) !important;
}

main > div > h1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
  margin-top: 14px;
}

main > div > p{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;
  margin-top: 66px;

}



main > div > img {
  width: 545.9px;
  height: 360px;
  margin-bottom: -10px;
  border-color: white;
  border: 3px solid #cccccc;
  padding: 0.5em;

}
