main.mainstand {
    padding: 1em;
}
#bildgross {

    float left;
    border: 1px solid #707070;
    width: 33em;
    height: 31.5em;
    padding: 0.2em;
    background: #eaeaea;
    margin: 1em;
    margin-right: 1em;
    box-shadow: 5px 5px 15px black;
}

#bilder {
    margin: 1em;
    max-width: 50%;
    float: right;
    text-align: right;
    margin-left: 1em;
}

main.mainstand > aside > a > img {
    border: 1px solid #707070;
    width: 10em;
    height: 10em;
    padding: 0.2em;
    background: #eaeaea;
    box-shadow: 5px 5px 15px black;
}
#News {
    margin-left: 3em;
    color: black;
}
#News:hover {
    color: red;
}
footer.footstand > section > button {
    display: block;
    width: 80%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;

    background-color: rgb(235, 235, 235);
    color: black;
    font-weight: bold;

    border: 0;
    border-radius: 0.25em;
}


footer.footstand > section > button:hover {
    background-color:black;
    color: white;
    cursor: pointer;
}

footer.footstand > section > p {
    width: 80%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
}
#text{
    border: 1px solid #707070;
}
footer.footstand > section > ul > li {
    background-color: white;
    color: black;
    border: 1px solid #707070;
    max-width: 80%;

    padding: 0.5em;
    min-height: 5em;
    margin: auto;
    margin-bottom: 1em;
    list-style: none;
}
footer.footstand > section > ul > li > button {
    float: right;
    margin: 0.2em;
    padding: 1em;
}
footer.footstand {
    text-align: center;
    margin: 2em 0 2em 0;
    color: rgb(235, 235, 235);
    font-weight: normal;
}
/* Für Handybildschirme */
@media (max-width: 800px) {
    #bildgross {
        float center;
        border: 0.8px solid #707070;
        width: 23em;
        height: 23em;
        padding: 0.2em;
        margin: 1em;
        margin-right: 1em;
    }
    #bilder {
        margin: 1em;
        max-width: 100%;
        float: center;
        text-align: center;
        margin-left: 1em;
    }

    main.mainstand > aside > a > img {
        border: 0.8px solid #707070;
        width: 7em;
        height: 7em;
        padding: 0.16em;
    }
    #textar{
        max-width: 90%;
        margin-right: 0.8em;
    }
    #listeul{
       margin-right: 2.5em;
    }
    footer.footstand > section > ul > li > button {
        float: right;
        margin: 0.2em;
        padding: 0.5em;
    }
}
